{% from 'form_macros.html' import displayField %}

{% extends "pre-login.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div id="center-padding">
        <h1>Login</h1>
        <p>Enter Account Details to Login</p>

        <div id="center-padding">
            <form action="{{ url_for('index')}}", method="POST">
                <div>
                    {{ displayField(form.username, "Username", autocomplete="off", autofocus=true) }}
                    {{ displayField(form.password, "Password") }}
                </div>

                <div>
                    {{ form.submit_button(class="btn btn-info btn-block") }}
                </div>

                {{ form.csrf_token }}
            </form>

            <hr/>

            <p>Have not registered? <a href={{ url_for('register') }}>Register here</a>.</p>
        </div>
    </div>
{% endblock %}
